$bg-color:#f9f9f9;
$topbar-color:#fff;
$active-color:#EB761E;
$primary-color:#a9a9a9;
$dark-color:#7c7c7c;
$header-color:#adbb0c;
$nosctive-item:#d3d3d3;
$footer-text-color:#828282;
$active-text-color:#000;
$border-item: 1px solid #a9a9a9;
$border-box: 2px solid #e9e9e9;