@import "settings";
@font-face {
  font-family: "HelveticaNeue";
  src: url(../fonts/HelveticaNeueLTStd-Roman.otf) format("opentype");
}
@font-face {
  font-family: "HelveticaNeueBold";
  src: url(../fonts/HelveticaNeueBold.ttf) format("truetype");
}
@font-face {
  font-family: "HelveticaNeueLight";
  src: url(../fonts/HelveticaNeue-Light.otf) format("opentype");
}
@font-face {
  font-family: "HelveticaNeueMedium";
  src: url(../fonts/HelveticaNeue-Medium.otf) format("opentype");
}
* {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  color: $text-color;
}
.app__wrapper {
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

//header
header {
  display: flex;
  align-items: center;
  margin: 0;
  background: $topbar-color;
  height: 79px;
  border-bottom: $border-item;
  width: 100%;
}
.nav {
  width: 50%;
  padding: 0 0 0 200px;
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0 7px 0 0;
  }

  li {
    a {
      color: $dark-color;
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      font-family: HelveticaNeueBold, Helvetica, sans-serif;
      font-size: 0.9rem;
      padding: 17px;
      text-align: center;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 10px;
        left: 0;
        background-color: $active-color;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
      }
      &:hover {
        color: $active-color;
        &:before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }
  }
}

.login {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  div {
    padding-right: 5px;
  }
}
.button__image {
  img {
    transform: rotate(90deg);
    width: 60%;
  }
}
.login__name {
  color: $primary-color;
  font-family: HelveticaNeue, sans-serif;
  font-size: 1rem;
}

//main

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.schedule {
  display: flex;
  width: 100%;
  border-radius: 5px;
}
.schedule__column--header {
  width: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/3x12.png");
  background-repeat: repeat;
  div {
    &:nth-child(2) {
      border-bottom: 1px solid #d3d3d3;
    }
    &:nth-child(3) {
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    &:nth-child(4) {
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    &:nth-child(5) {
      border-top: 1px solid #d3d3d3;
      border-bottom: 1px solid #d3d3d3;
    }
    &:nth-child(6) {
      border-top: 1px solid #d3d3d3;
    }
    &:last-child {
      border-top: 2px solid #d3d3d3;
    }
  }
}

.schedule__column {
  display: flex;
  flex-direction: column;
  width: calc((100%-85px) / 7);
  div.shedule__cell--bottom {
    &:last-child {
      border-top: 2px solid #d3d3d3;
    }
  }
}

.shedule__header {
  height: 90px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  span {
    font-family: HelveticaNeueBold, sans-serif;
  }
}

.shedule__cell {
  border: $border-box;
  height: 90px;
  padding: 10px;
  position: relative;
  span {
    position: absolute;
    background: url("../images/gray_shake.png") no-repeat 0 0;
    width: 85px;
    height: 57px;
    bottom:0;
    left:35px;
  }
}

.shedule__header--top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 5px;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  color: $header-color;
}
.shedule__header--bottom,
.shedule__cell--bottom {
  height: 40px;
  padding: 12px 5px;
  width: 100%;
  text-align: center;
  background-image: url("../images/3x12.png");
  background-repeat: repeat;
}
.shedule__cell--bottom {
  text-transform: uppercase;
  font-family: HelveticaNeue, sans-serif;
  font-size: 0.7rem;
  padding: 14px 0 0 0;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  img {
    margin-left: 5px;
  }
  div {
    &:first-child {
      border-bottom: $border-item;
    }
  }
}

.shedule__fivecell {
  display: flex;
  flex-direction: column-reverse;
  height: 450px;
  align-items: center;
  border: $border-box;
  div.paragraphText {
    padding-bottom: 140px;
    p {
      text-transform: uppercase;
      transform: rotate(270deg);
      font-family: HelveticaNeauLight, sans-serif;
      font-size: 2.1rem;
      white-space: nowrap;
      color: $text-color;
      margin: 0;
    }
  }
  div.image {
    padding-bottom: 60px;
  }
}

.shedule__fivecell--bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 5px;
  text-align: center;
  background-image: url("../images/3x12.png");
  background-repeat: repeat;
  border-left: 1px solid #d3d3d3;
  p {
    font-family: HelveticaNeue, sans-serif;
    font-size: 1.1rem;
    margin-left: 10px;
  }
}

.shedule__column--active {
  border: 2px solid $active-color;
  div.shedule__header--top {
    height: 48px;
  }
  div.shedule__cell--bottom {
    height: 39px;
  }
  div.shedule__cell {
    color: #000;
    span {
      background: url("../images/color_shake.png") no-repeat 0 0;
    }
  }
  div.shedule__header--top {
    color: $active-color;
  }
}
//navigation bar
.naviagtion__bar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  margin: 30px 0 20px 0;
}
.naviagtion__bar--progress {
  align-self: flex-start;
  width: 35%;
  p {
    @include text_paragraph;
  }
  ol {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    position: relative;
    display: inline-block;
    color: $primary-color;
    width: 20px;
    text-align: center;
    line-height: 3em;
    font-family: HelveticaNeue, sans-serif;
    font-size: 0.6rem;
    //Lines
    &:after {
      position: absolute;
      display: block;
      z-index: 1;
      top: -2px;
      left: -5px;
      height: 2px;
      width: 20px;
      content: "";
      background-color: $primary-color;
    }
    // Bullets
    &:before {
      position: absolute;
      z-index: 2;
      top: -6px;
      left: 5px;
      height: 10px;
      width: 10px;
      border-radius: 1.2em;
      border: none;
      line-height: 1.2em;
      content: " ";
      background-color: $primary-color;
    }

    &:first-child {
      &:after {
        display: none;
      }
    }
  }
  li.done {
    color: $primary-color;
    &:after {
      background: $header-color;
    }
    // Bullets
    &:before {
      background-color: $header-color;
    }
  }
  li.active {
    color: $primary-color;
    &:after {
      background: $primary-color;
    }
    // Bullets
    &:before {
      border: 2px solid $primary-color;
      background-color: $topbar-color;
      top: -7px;
      left: 4px;
      border-radius: 1.5em;
      height: 8px;
      width: 8px;
    }
  }
  li.todo {
    color: $primary-color;
    //Lines
    &:after {
      background: $primary-color;
    }
    // Bullets
    &:before {
      background-color: $primary-color;
    }
  }
}

.naviagtion__bar--weeks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  h1 {
    font-size: 2.5rem;
    font-family: HelveticaNeueLight, sans-serif;
    letter-spacing: 3px;
    color: $active-color;
    margin: 0;
  }
}
.arrow__left {
  @include arrow;
  transform: rotate(135deg);
}
.arrow__right {
  @include arrow;
  transform: rotate(-45deg);
}
.arrow__box--left {
  @include arrow_box;
  padding: 14px 3px 9px 8px;
}

.arrow__box--right {
  @include arrow_box;
  padding: 14px 8px 9px 3px;
}

.naviagtion__bar--options {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: flex-end;
  p {
    @include text_paragraph;
    padding-right: 38px;
  }
  img {
    display: inline-block;
    margin-left: 12px;
  }
}

//footer
footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;
  div.footer__column {
    width: calc(100% / 3);
    height: 180px;
    padding: 5px 50px 5px 5px;
    &:nth-child(2) {
      border-left: $border-item;
      border-right: $border-item;
      padding: 5px 30px;
    }
    &:last-child {
      padding: 5px 30px 5px 45px;
    }
    h2 {
      font-size: 1.8rem;
      font-family: HelveticaNeue, sans-serif;
      margin: 0;
      min-height: 80px;
      padding: 0 50px 0 0;
    }
    p {
      font-size: 0.9rem;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 50px 0 0;
    }
    button {
      border: 1px solid $primary-color;
      border-radius: 7px;
      background: $topbar-color;
      height: 34px;
      font-size: 1rem;
      font-family: HelveticaNeue, sans-serif;
      text-align: center;
      color: $primary-color;
      line-height: 32px;
      position: relative;
    }
    button.button__buy {
      padding: 2px 26px 2px 12px;
      img.buttonArrow {
        position: absolute;
        bottom: 10px;
        right: 7px;
      }
    }
    button.button__apple {
      padding: 4px 24px 4px 12px;
      margin-right: 15px;
      background: url("../images/apple_item.png") no-repeat 8px 5px;
      padding-left: 35px;
      img.buttonArrow {
        position: absolute;
        bottom: 9px;
        right: 9px;
      }
    }
    button.button__android {
      padding: 4px 24px 4px 12px;
      margin-right: 15px;
      background: url("../images/android_item.png") no-repeat 8px 5px;
      padding-left: 35px;
      img.buttonArrow {
        position: absolute;
        bottom: 9px;
        right: 9px;
      }
    }
  }
}
